.board-grid{
    margin: 0 auto;
    display: block;
    position: relative;
    background-color: transparent;
  }
  .tile{
    position: absolute;
    background-color: #6e92956e;
    border-radius: .8rem;
    display: grid;
    place-items: center;
  }
  .tile .tile-number{
    position: absolute;
    top: .5rem;
    left: 1rem;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    line-height: 1;
  }
  .board-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media only screen and (max-width:768px){
    .board-footer{
        flex-direction: column;
        gap:1.5rem
    }
  }