.crossword {
  border-collapse:collapse;
  font-family:"Courier New", Courier, monospace;
  margin-top:10px;
  margin-bottom:10px;
  border: none;
}

.crossword td {
  /*border:1px solid black;*/
  padding:0;
  margin:2px;
  vertical-align:middle;
  padding:0;
  text-align:center;
  width:30px;
  /*height:30px;*/
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #F2F2F2;
  outline: none;
}

.no-border{
  background-color: white;
}

.crossword .no-border {
  border:none;
  background-color: transparent;
}

#clues {
  font-size: 12px;
  margin: 0 auto;
}

#clues td {
  vertical-align:top;
  margin: 0 auto;
  text-align: left;
}

.canswer{
  display: none;
}
button{
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background-color: #2a797a;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
#vkeyboard{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(256,256,256,.85);
  text-align: center;
  display: none;
  padding: 10px;
  z-index: 13;
  padding-top: 70px;
}
.kbtn{
  padding: 10px;
  border: 1px solid black;
  margin: 5px; 
  display: inline-block;
  width: 30px;
  
}
th{
  text-align: left;
  font-weight: bold;
}
ul,li { list-style-type: none;
list-style-position:inside;
margin:0;
margin-right: 5px;
padding:0; }

#game{
  margin-bottom: 10px;
  padding: 10px;
  display: none;
}

.ditem{
  padding: 1em;
  border-bottom: 1px solid black;
  margin-bottom: 3px;
}

td:hover{
  background-color: #A3CEFA;
}
.input{
  width: 100%;
  outline: none;
  height: 30px;
  border: 0px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 8px;
  padding: 0;
}
.no-border.input{
  display: none;
}
.none{
  display: none;
}
.relative{position: relative;}
.canswer{
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 24px;
  width: 100%;
  height: 100%;
  place-content: center;
}
/* Codigo que posiblemente sera eliminado, es solo de prueba  */
.crossword tbody tr {
  display: flex;
  border: none;
}
.crossword tbody tr td {
  flex: auto;
  display: flex;
  border: none;
}
.crossword tbody tr td:active{outline: none;}
#question{
  font-size: 20px;
  text-align: center;
}